@import '../utils/variables.scss';
.nav-link{
    text-decoration: none;
}

.header{
    height: 64px;
    background-color: $blue;
    display: flex;
    align-items: center;
}

.cartImg {
    width: 30px;
    position: absolute;
    right: 80px;
}

.phoneImg{
    width:30px;
    position: absolute;
    top:10px;
    left: 64px

}

.cartCount{
    position: absolute;
    right: 120px;
    font-size: 22px;
}

.homeLink{
    text-decoration: none;
    position:absolute;
    left: 124px
}

.breadcrumb-detail{
    position:absolute;
    left: 200px
}

