@import '../utils/variables.scss';

.nav-link {
    text-decoration: none;
}

.header {
    height: 64px;
    background-color: $blue;
    display: flex;
    align-items: center;
}

.cartImg {
    width: 30px;
    position: absolute;
    top: 18px;
    right: 80px;
}

.phoneImg {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 48px
}

.cartCount {
    position: absolute;
    top: 10px;
    right: 120px;
    font-size: 15px;
    font-weight: bold;
    pointer-events: none;
    .hideOnSmallScreen {
        display: block;
    
        @media (max-width: 900px) {
          display: none;
        }
      }
}

.showNumber{
    display: block
}

.homeLink {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 124px;
    top: 1px;
    z-index: 1;
}

.breadcrumb-detail {
    position: absolute;
    left: 200px;
    top: 2px;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none
}


.animate {
    position: absolute;
    left: 200px;
    top: 2px;
    opacity: 1;
    transition: opacity 2.5s ease;
    pointer-events: none
}

.arrowImg{
    position: absolute;
    left: 175px;
    top: 24px;
    width: 20px;
    opacity: 0;
    transition: opacity 1s ease;
    overflow: hidden;
}

.arrowAnimate {
    opacity: 1;
    transition: opacity 1s ease;
}

.underline{
    position: absolute;
    left: 121px;
    top: 32px;
    height: 25px;
    width: 52px;
    transform: translateX(0);
    transition: transform 1s ease, width 0.3s ease;
    z-index: 0;
}

.moveUnderline {
    transform: translateX(80px);
    transition: transform 1s ease, width 0.5s ease;
    position: absolute;
    left: 120px;
    top: 32px;
    height: 25px;
    width: var(--h4Width);
    z-index: 0;
  }

  .numberCart{
    position: absolute;
    top: 8px;
    right: 322px;
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    .moveUnderline, .arrowAnimate, .animate, .homeLink, .cartCount, .underline{
        display: none;
    }

  }
