@import '../utils/variables.scss';

.Products{
    height: 80vh;
    background-color: $green;
}

.cardsContainer {
  background-color: $green;
    margin-bottom: 2rem;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    min-height: 120vh;
  }

  .productContainer{
    margin-top: 2.1rem;
  }

  .detailsLink{
    text-decoration: none;
  }

  .searchBar{
      position: absolute;
      right: 6.7em;
      top: 84px
  }
  

  @media screen and (max-width: 1168px) {
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    .Products{
        height: 180vh;
    }

    .searchBar{
      right:4em
    }
    

  }
  
  @media screen and (max-width: 640px) {
    .cardsContainer {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
    }

    .Products{
        height: 330vh;
    }

    .searchBar{
      right:2em
    }
  }